* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body, html {
  overflow-x: hidden;
}

.navbar-light .navbar-brand, .navbar-light .header-bg-top .nav-link, .header-bg-top .navbar-light .nav-link, .navbar-light .navbar-nav .active > .nav-link, .section-projects .right-projects .right-txt, .section-projects .right-projects p {
  letter-spacing: 1;
}

.navbar-light .navbar-brand, .navbar-light .header-bg-top .nav-link, .header-bg-top .navbar-light .nav-link, .navbar-light .navbar-nav .active > .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 990px) {
  .navbar-light .navbar-brand, .navbar-light .header-bg-top .nav-link, .header-bg-top .navbar-light .nav-link, .navbar-light .navbar-nav .active > .nav-link {
    color: black !important;
  }
}

.navbar-light .navbar-toggler {
  color: #64a19d;
  border-color: #64a19d;
  font-size: 13px;
  padding: 9px 12px;
}

header {
  width: 100%;
  min-height: 60rem;
}

.nav-main {
  transition: all 0.4s ease-in-out;
}

@media (max-width: 990px) {
  .nav-main {
    background-color: white;
  }
}

.header-main {
  height: 100%;
}

.header-main h1 {
  letter-spacing: 11;
  font-size: 120px;
  margin-top: 9rem;
  background-image: linear-gradient(179deg, #ffffff, #191818cc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 990px) {
  .header-main h1 {
    font-size: 60px;
    background-image: linear-gradient(179deg, #ffffff, #464646cc);
  }
}

@media (max-width: 545px) {
  .header-main h1 {
    font-size: 39px;
  }
}

.header-main p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  max-width: 35%;
  text-align: center;
}

@media (max-width: 768px) {
  .header-main p {
    max-width: 74%;
    font-size: 17px;
  }
}

.header-main .button-light {
  background-color: #64a19d;
  border: 0;
  padding: 17px 37px;
  color: #f6f6f6;
  font-size: 13px;
  letter-spacing: 3;
  box-shadow: -1px 5px 15px -6px #000000;
}

.header-bottom {
  background-image: linear-gradient(179deg, #000000, #272828);
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .header-bottom {
    padding-top: 4rem;
  }
}

.header-bottom h2 {
  margin-top: 14rem;
}

.header-bottom .header-bottom-txt {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  max-width: 59%;
}

@media (max-width: 990px) {
  .header-bottom .header-bottom-txt {
    max-width: 90%;
  }
}

.header-bottom .header-bottom-txt .link-light {
  color: #64a19d;
}

.header-bottom .header-bottom-img {
  max-width: 80%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 990px) {
  .header-bottom .header-bottom-img {
    max-width: 90%;
  }
}

.section-projects {
  padding: 9rem 0;
  background-color: #f8f9fa;
}

.section-projects p {
  color: rgba(0, 0, 0, 0.5);
  max-width: 89%;
}

.section-projects .left-img-projects {
  position: relative;
}

@media (min-width: 990px) {
  .section-projects .left-img-projects::after {
    content: "";
    position: absolute;
    top: 28%;
    width: 9px;
    height: 183px;
    background-color: #64a19d;
  }
}

.section-projects .right-projects {
  height: 15rem;
}

.section-projects .right-bottom-projects, .section-projects .left-bottom-projects {
  max-width: 95%;
  position: relative;
}

.section-projects .right-bottom-projects p, .section-projects .left-bottom-projects p {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 990px) {
  .section-projects .right-bottom-projects, .section-projects .left-bottom-projects {
    max-width: 75%;
  }
  .section-projects .right-bottom-projects::after, .section-projects .left-bottom-projects::after {
    content: "";
    position: absolute;
    width: 115px;
    height: 5px;
    background-color: #64a19d;
  }
}

.section-projects .left-bottom-projects::after {
  right: 0;
}
/*# sourceMappingURL=main.css.map */