.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
  @extend %letter-space;
  @media (max-width: 990px) {
    color: black !important;
  }
}
.header-bg-top .nav-link {
  @extend .navbar-brand;
}
.navbar-light .navbar-nav .active > .nav-link {
  @extend .navbar-brand;
}

.navbar-light .navbar-toggler {
  color: $bg-light;
  border-color: $bg-light;
  font-size: $font-sm;
  padding: 9px 12px;
}
