header {
  width: 100%;
  min-height: 60rem;

}

////////////conflict sass by linear-gradiant move code to file linear.css
// .header-bg-top{
//     width: 100%;
//     background-image: linear-gradient(rgb(60 60 60 / 21%), rgb(0 0 0 / 99%)), url(../assets/img/bg-masthead.jpg);
//     background-size: cover;
//     min-height: 40rem;
//     .nav-link{
//         color: $color-secundry !important;
//     }
//     .navbar-brand{
//         @extend .nav-link;
//     }
// }
.nav-main{
    transition: all 0.4s ease-in-out;
    @media (max-width: 990px) {
       background-color: white;
      }
}
.header-main {
  height: $height;
 
  h1 {
    letter-spacing: 11;
    #{$f}-size: 120px;
    margin-top: 9rem;
    background-image: linear-gradient(179deg, #ffffff, #191818cc);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    @media (max-width: 990px) {
      #{$f}-size: 60px;
      background-image: linear-gradient(179deg, #ffffff, #464646cc);
    }
    @media (max-width: 545px) {
      #{$f}-size: 39px;
    }
  }
  p {
    color: $color-secundry;
    #{$f}-size: 18px;
    max-width: 35%;
    text-align: center;
    @media (max-width: 768px) {
      max-width: 74%;
      #{$f}-size: 17px;
    }
  }
  .button-light {
    @include btn-light();
  }
}


// bottom-header
.header-bottom{
  background-image: linear-gradient(179deg, #000000, #272828);
  height: $height;
  position: relative;
  @media (min-width:768px) {
    padding-top: 4rem;
  }
  h2{
    margin-top: 14rem;
  }
  .header-bottom-txt{
    text-align: center;
    color: $color-secundry;
    max-width: 59%;
    @media (max-width:990px) {
      max-width: 90%;
    }
    .link-light{
      color: $bg-light;
    }
  }
  .header-bottom-img{
    max-width: 80%;
    @media (max-width:990px) {
      max-width: 90%;
    }
    position: absolute;
    bottom: 0;
  }
  
}


// section-projects
.section-projects{
  padding: 9rem 0;
  background-color: $bg-secundry;
  p{
      color: $color-muted;
      max-width: 89%;
  }
  .left-img-projects{
    position: relative;
    @media (min-width:990px) {
      &::after{
        content: "";
        position: absolute;
        top: 28%;
        width: 9px;
        height: 183px;
        background-color: $bg-light;
    }
    }
  }
  .right-projects{
    height: 15rem;
    .right-txt{
      @extend %letter-space;
    }
    p{
      @extend %letter-space;
    }
  }

  // bottom projects
  .right-bottom-projects{
    max-width: 95%;
    position: relative;
    p{
      color: $color-secundry;
    }
    @media (min-width:990px) {
      max-width: 75%;
      &::after{
        content: "";
        position: absolute;
        width: 115px;
        height: 5px;
        background-color: $bg-light;
      }
    }
   
  }
  .left-bottom-projects{
    @extend  .right-bottom-projects;
    &::after{
      right: 0;
    }
  }
}